<!--navbar-->
  <!--show on scroll down-->
  <nav class="navbar navbar-transparent navbar-expand-lg navbar-light fixed-top" id="nav_fix">
    <div class="container" id="bar">
      <a class="navbar-brand flex-grow-1" href="#"><img src="assets/images/logo_small.png"
          class="logo"><span><b>bitElit</b>
          Technologies</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#works">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--Home-->
  <div class="container-fluid home">
    <div class="container text-white" id="home">
      <div class="row">
        <div class="col">
          <h1 class="display-4">GET IT<br>TO GROW</h1>
          <p class="lead">For us IT is not Information Technology but Innovation Technology.<br>
            We bring aspects of innovation, creativity, advance technology and future<br> growth in our solutions.<br>
            For details contact us<br>
          </p>
          <!--search-->
          <div class="row">
            <div class="input-group mb-3 col-12 col-lg-6">
              <input type="text" class="form-control" placeholder="you@example.com" aria-label="Recipient's username"
                aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn bg-light" type="button" id="button-addon2">Ask</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <img src="assets/images/logo.png" class="logo1">
        </div>
      </div>


    </div>
  </div>
  <!--white div of home-->
  <div class="container text-center">
    <h1>Transform your business with<br>
      futuristic solutions</h1>
    <p>BitElit Technologies is an IT product development company Based in Bangalore, India. BitElit
      provides
      cutting edge & innovative technology solutions to enterprises, SME's and start-ups across Globe. We have a team of
      experienced and talented engineers, strategists and marketers to develop user centric and scalable technology
      products.</p>
    <div class="row text-center">
      <div class="col-12 col-md-4">
        <img src="assets/images/innovation.png" alt="" class="src">
        <div class="col">
          <h3>Innovation Technology</h3>
          <p>We provide not just IT but Innovative Technological Solutions, which help our clients grow
            their business to the next level </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <img src="assets/images/creative.png" alt="" class="src">
        <div class="col">
          <h3>Creative Marketing</h3>
          <p>With the advent of changing marketing dynamics, keep up to the pace with our creative digital marketing
            services
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <img src="assets/images/support.png" alt="" class="src">
        <div class="col">
          <h3>Holistic Support</h3>
          <p>As we have the expertise in both IT and Digital Marketing, We offer a cross functional support system to
            our clients</p>
        </div>
      </div>
    </div>
  </div>
  <!--Works-->
  <a id="works"></a>
  <div class="container text-center">
  <h1>Our Works</h1>
  <p>BitElit Technologies is building innovative technology solutions for various industries. These solutions are
    increasing business efficiency, enhancing user experience and resulting in better ROI’s. Learning Management
    System, Location based solution to search business and people around, an e-commerce platform for bike rental
    business, a video splitter mobile application to update social status and a certified application to access highly
    secure government servers are few among many solutions by BitElit.</p>
  </div>
  <!--owl carousel-->
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><div class="owl"><img src="../assets/images/works_thinkroutes.jpg"></div></ng-template>  
    <ng-template carouselSlide><div class="owl"><img src="../assets/images/works_ThinkRoutes_1.png"></div></ng-template>  
    <ng-template carouselSlide><div class="owl"><img src="../assets/images/works_twobicle.jpg"></div></ng-template>
    <ng-template carouselSlide><div class="owl"><img src="../assets/images/works_wcp.jpg"></div></ng-template>
    <ng-template carouselSlide><div class="owl"><img src="../assets/images/works_wcp1.jpg"></div></ng-template>  
  </owl-carousel-o>
  
  <!--Services-->
  <a id="services">
  </a>
  <div class="container">
  <div class="row" id="car">
    <div class="col-12 col-lg-6">
      <h1>User Friendly Web, Mobile & Digital Marketing Solutions</h1>
      <p>We focus on technology as well as Digital Marketing solutions.This gives a great leverage to our
        clients
        while designing and implementing the IT Solutions. The cross reference works wonder and makes the
        final
        product ready to challenge the world.</p>
      <ul class="list">
        <li><img src="assets/images/icon.png" alt="">Web applications</li>
        <li><img src="assets/images/icon.png" alt="">Mobile applications</li>
        <li><img src="assets/images/icon.png" alt="">Digital marketing</li>
        <li><img src="assets/images/icon.png" alt="">Software consulting</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <!--owl carousel-->
      <owl-carousel-o [options]="userOptions">
        <ng-template carouselSlide>
          <img src="assets/images/website_bitelit.png">
        </ng-template>  
        <ng-template carouselSlide>
          <img src="assets/images/mobileapp_bitelit.png">
        </ng-template>  
        <ng-template carouselSlide>
          <img src="assets/images/digital_marketing_bitelit.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/software_consulting_bitelit.jpg">
        </ng-template>  
      </owl-carousel-o>
    </div>
    </div>
    </div>
  <!--About Us-->
  <a id="about"></a>
    <div class="jumbotron jumbotron-fluid">
  <div class="container one">
    <div class="row">
      <div class="col-12 col-xl-4" id="one">
        <p>OUR TEAM OUR STRENGTH</p>
        <h2 class="bold">Strength lies in differences, not in similarities</h2>
        <p>- STEPHEN COVEY</p>
        <p>We are strong team of experienced professionals from diverse backgrounds such as Technology (front end,
          middle ware, back end, Android & IOS), Strategy, Operations, Sales and Marketing .</p>
      </div>
      <div class="col-12 col-xl-4" id="two">
        <!--profile 1-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/sushin_bitelit.jpg" class="round" alt="img"></div>
            <div class="col-9 pt-3">Sushin Pv</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>FULL stack developer with expertise in MongoDB, Express JS, Angular and Node JS, PHP, ReactJS,
                Laravel & Android.
              </p>
            </div>
          </div>
        </div>
        <!--profile 2-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/rizwan_bitelit.jpg" class="round" alt="img"></div>
            <div class="col-9 pt-3">Rizwan Sadath</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>Developer with focus on Android and IOS technologies such as React Native, Flutter. An expert in
                UI/UX, 2D, 3D & graphic design & animation.
              </p>
            </div>
          </div>
        </div>
        <!--profile 3-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/dharshan_bitelit.png" class="round" alt="img"></div>
            <div class="col-9 pt-3">Dharshan</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>4+ years of experience in crafting software using Ruby, RubyOnRails. Focus on developing LBS,
                Location Based Service, PostgreSQL, PostGIS and PGRouting.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <!--profile 4-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/vikas_bitelit.jpg" class="round" alt="img"></div>
            <div class="col-9 pt-3">Vikas Shrivastava</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>15+ years of experience in consulting, operations, project management & startups. MBA from SPJIMR
                Mumbai, B.E. Marine- cracked IIT JEE 1998.
              </p>
            </div>
          </div>
        </div>
        <!--profile 5-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/ramees_bitelit.jpg" class="round" alt="img"></div>
            <div class="col-9 pt-3">Ramees P</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>Developer with focus on building user centric UI/UX. Proficient in languages like CSS3, HTML5, Java
                Script, Angular and React Native.
              </p>
            </div>
          </div>
        </div>
        <!--profile 6-->
        <div class="card mb-3">
          <div class="row mt-3">
            <div class="col-3"><img src="assets/images/mujeeb_bitelit.jpg" class="round" alt="img"></div>
            <div class="col-9 pt-3">Mujeeb Rahaman</div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p>Front end developer proficient in languages like CSS3, HTML5 and Java Script. An avid learner
                learning Angular and React Native.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--white div-->
  <div class="container">
  <div class="container two">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="lead">DO IT OUR WAY</p>
        <h1><b>Our Unique Selling Proposition</b></h1>
        <p>Diverse team, Cross functional expertise (IT and Digital Marketing), Advance Technology and futiristic focus
          areas are few of our uniqe selling propositions.</p>
      </div>
      <div class="col-12 col-lg-6">
        <!--owl carousel two-->
        <owl-carousel-o [options]="carouselOptions">
          <!--first slide-->
          <ng-template carouselSlide>
            <div class="card-deck">
              <div class="card" id="card">
                <div id="skew">
                  <h3>Programming in 10+ languages</h3>
                </div>
                <div id="skew1">
                  <p class="skew">We are helping SME’s by fluentely programming in Node JS, React, Angular, Mongo DB,
                    Flutter and
                    Java script to name a few.</p>
                </div>
              </div>
              <div class="card" id="card">
                <div id="skew">
                  <h3>10+ Industries Covered</h3>
                </div>
                <div id="skew1">
                  <p class="skew">We are focussing on various industries including Education, Media &amp;
                    Entertainment, Retail
                    &amp; e-Commerce Staffing and Automotive</p>
                </div>
              </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
        <!--second slide-->
        <div class="card-deck">
          <div class="card" id="card">
            <div id="skew">
              <h3>10+ Industries Covered</h3>
            </div>
            <div id="skew1">
              <p class="skew">We are focussing on various industries including Education, Media &amp;
                Entertainment, Retail
                &amp; e-Commerce Staffing and Automotive</p>
            </div>
          </div>
          <div class="card" id="card">
            <div id="skew">
              <h3>Futuristic Solutions</h3>
            </div>
            <div id="skew1">
              <p class="skew">We are building solutions which include Video &amp; Audio streaming, Location
                Enabled Algorithm
                and e-Commerce Solutions </p>
            </div>
          </div>
        </div>
          </ng-template>  
          <ng-template carouselSlide>
            <!--third slide-->
            <div class="card-deck">
              <div class="card" id="card">
                <div id="skew">
                  <h3>Futuristic Solutions</h3>
                </div>
                <div id="skew1">
                  <p class="skew">We are building solutions which include Video &amp; Audio streaming, Location
                    Enabled Algorithm
                    and e-Commerce Solutions</p>
                </div>
              </div>
              <div class="card" id="card">
                <div id="skew">
                  <h3>Better ROI & Performance</h3>
                </div>
                <div id="skew1">
                  <p class="skew">As we focus on SME's our solutions are cost effective and high performance resulitng
                    in better
                    ROI's for our clients.</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <!--fourth slide-->
            <div class="card-deck">
              <div class="card" id="card">
                <div id="skew">
                  <h3>Better ROI & Performance</h3>
                </div>
                <div id="skew1">
                  <p class="skew">As we focus on SME's our solutions are cost effective and high performance resulitng
                    in better
                    ROI's for our clients.</p>
                </div>
              </div>
              <div class="card" id="card">
                <div id="skew">
                  <h3>Programming in 10+ languages</h3>
                </div>
                <div id="skew1">
                  <p class="skew">We are helping SME’s by fluentely programming in Node JS, React, Angular, Mongo DB,
                    Flutter and
                    Java script to name a few.</p>
                </div>
              </div>
            </div>
          </ng-template> 
        </owl-carousel-o>
      </div>
    </div>
      <!--white div second part-->
      <div class="container text-center three">
        <p class="lead">We have executed projects for</p>
        <h1>Leading global brands</h1>
        <p>Here are some of the clients we have worked with</p>
      </div>
      <div class="container four">
        <div class="row pt-5">
          <div class="col-6 col-md">
            <img src="assets/images/client2_bitelit.jpg" alt="">
          </div>
          <div class="col-6 col-md">
            <img src="assets/images/client4_bitelit.jpg" alt="">
          </div>
          <div class="col-6 col-md">
            <img src="assets/images/client11_bitelit.jpg" alt="">
          </div>
          <div class="col-6 col-md">
            <img src="assets/images/client3_bitelit.jpg" alt="">
          </div>
          <div class="col-6 col-md">
            <img src="assets/images/client5_bitelit.jpg" alt="">
          </div>
          <div class="col-6 col-md">
            <img src="assets/images/client6_bitelit.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    </div>
    <!--contact us-->
    <a id="contact"></a>
    <div class="section text-center" >
    <div class="row">
      <div class="col-12">
        <h1>Reach out to us</h1>
        <p>You have an idea, but do not have technology capability! you are running a business, which needs digital
          transformation! or you are not able<br> to reach to your target customer! Reach out to us and we will build a
          solution for you!<br>
          Please drop us an email and BitElit representative will reach you within 24 hours!<br></p>
      </div>
    </div>
    <div class="row">
      <div class="input-group one col-12">
        <input type="text" class="form-control" placeholder="you@example.com" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn" type="button" id="button-addon2">Ask</button>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
  <div class="container icon text-center">
    <div class="row">
      <div class="col">
        <img src="assets/images/TWITTER-128.png" alt="twitter" class="icon pr-4">
        <img src="assets/images/LINKEDIN-128.png" alt="linkedin" class="icon pr-4">
        <img src="assets/images/FB-128.png" alt="facebook" class="icon pr-4">
        <img src="assets/images/INSTAGRAM-128.png" alt="instagram" class="icon pr-4">
      </div>
    </div>
    <p>Copyright 2018 All rights reserved - Designed & Developed by bitElit</p>
  </div>




  
  
  


