/* You can add global styles to this file, and also import other style files */

/*--navbar--*/
div.container.text-white {
    padding-top: 200px;
}
nav {
    background-color:  #ca4249;
    padding: 10px 0;
    z-index: 1000;
}
nav.fixed-top {
    background-color:  #ca4249;
    opacity: 0.9;
}
img.logo {
    width: 25px;
}
span {
    padding-left: 10px;
    color: white;
    font-size: 25px;
}
nav ul li.nav-item {
    padding-right: 20px;
}
/*--navbar on scroll--*/
/*--Home--*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
img.src {
    height: 50px;
}
/*--works--*/
img.d-block {
    width: 287.2px;
}
div.container.text-center {
    padding-top: 100px;
}
/*--owl carousel--*/
.owl {
    margin:20px; 
    box-shadow: 0 0 5px 2px grey;
}
#card {
    box-shadow:
  0 8px 8px rgba(0, 0, 0, 0.1);

}
div#skew {
    background-color: #ca4249;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    position: relative;
}
div#skew1 {
    background-color: white;
    transform-origin: bottom left;
    transform: skew(0deg, -5deg);
    padding: 30px;
}
p.skew {
    transform: skew(0deg, 5deg);
}

/*--Services--*/
ul.list {
    list-style: none;
    text-align: left;
    padding-left: 10px;
}
ul.list li {
    padding: 20px 0px;
    transition: 0.3s;
}
ul.list li:hover {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.list li img {
    padding: 0 20px;
}
/*--About Us--*/
div.jumbotron.jumbotron-fluid {
    background-color: black;
    color: white;
}
img.round {
    border-radius: 50%;
    width: 50px;
}
.card.mb-3 {
    background-color:#141313d8;
    padding: 10px 15px;
    width: 20rem;
}
div.container.one {
    margin-bottom: -40px;
}
div#one {
    margin-top: 200px;
}
div#two {
    margin-top: -40px;
}
/*--white div class two--*/
div.container.two {
    margin: 200px 0;
}
div.container.text-center.three {
     padding-top: 150px; 
}
div.container.four img {
    max-width:100%;
}
/*--contact us--*/
div.input-group.one {
   padding-left:300px;
   padding-right: 300px;
}
#button-addon2 {
    background-color: #ca4249;
}
/*--footer--*/
img.icon {
    height: 20px;
}
div.container.icon {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}
div.container.icon p {
    padding-top: 30px;
}
/*--responsiveness--*/
@media only screen and (max-width: 992px) {
    img.logo1 {
        display: none;
    }
    div.input-group.one {
        padding-left:100px;
        padding-right: 100px;
     }
    
}
@media only screen and (max-width: 1200px) {
    div.card.mb-3 {
        width: 100%;
    }
    div#two {
       margin-top: 30px; 
    }
    div#one {
        margin-top: 50px;
    }
}
@media only screen and (min-width: 992px) {
    div.home, nav.navbar {
        background-color:#ca4249;
    }
    img.logo1 {
        display: block;
    }
}
@media only screen and (max-width: 556px) {
    div.home, nav.navbar {
        background-color:#ca4249;
    } 
}

@media (max-width:992px) and (min-width:556px) {
    div.container.text-white, div.container#bar {
        background-color:#ca4249;
    }
} 
/*removing the white space on the right of the page*/
html,body {
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}
    